<form [formGroup]="formulario" (ngSubmit)="enviar()">

    <h1> 
        <mat-icon>person</mat-icon> Login do cliente
    </h1>

    <mat-form-field appearance="fill" class="input">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>    

    <div class="example-container">
        <mat-form-field appearance="fill" class="input">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
    </div>  

    <button mat-raised-button color="warn">Entrar</button>
    <!-- <button mat-raised-button color="primary" [disabled]="!formulario.valid">Entrar</button> -->

    <p> Não tem cadastro? Cadastre-se </p>


</form>
