// :host {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//   }

form{
    padding-top: 120px;
    margin-left: 500px;
    // background-color: antiquewhite;
}

#botao-enviar{
    margin-left: 337px;
    margin-top: 30px;
    margin-right: 10px;
}

.input{
    width: 50%;
}