<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span>E-commerce</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/listar']">Listar Usuários</button>
      <button mat-menu-item [routerLink]="['/cadastrar-cliente']">Cadastrar Usuário</button>
      <button mat-menu-item [routerLink]="['/cadastrar-produto']">Cadastrar Produto</button>
      <button mat-menu-item [routerLink]="['/listar-produtos']">Listar Produtos</button>
    </mat-menu>

    <form class="example-form">
      <mat-form-field class="example-full-width busca" appearance="fill">
        <mat-label>Busca no e-commerce</mat-label>
        <input type="text" matInput id="icone-busca"> <mat-icon>search</mat-icon>
      </mat-form-field>
    </form>
  
    <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu" id="usuario">
      <mat-icon>person</mat-icon> faça seu login ou cadastre-se
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item [routerLink]="['/login']">Entrar</button>
      <button mat-menu-item [routerLink]="['/cadastrar-cliente']" routerActive >Cadastrar</button>
    </mat-menu>

    <div id="icones">
      <button mat-icon-button [routerLink]="['/']" routerActive>
        <mat-icon>store</mat-icon>
      </button>
     
      <button mat-icon-button [routerLink]="['/']" routerActive>
        <mat-icon>favorite</mat-icon>
      </button>
      
      <button mat-icon-button [routerLink]="['/']" routerActive>
        <mat-icon>shopping cart</mat-icon>
      </button> 
    </div>
    
    
  </mat-toolbar-row>

