.busca {
    width: 900px;
    padding-left: 200px;
}

#icone-busca{
    // position: absolute;
    top: 10px;
    left: 7px;
    color: #fff;
}

#usuario {
    padding-left: 60px;
   
}

#icones {
    padding-left: 230px;
}

